@import "tailwindcss";
@import "react-pdf/dist/Page/TextLayer.css";
@import "react-pdf/dist/Page/AnnotationLayer.css";

body {
  font-family: Calibri !important;
  background-color: black;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}